#commodityDetails
{
    position:relative;
    top:10px;
    margin-left:5px;
    padding: 3px 3px 3px 3px;
    font-size: 0.85em;
    clear:both;
    overflow:auto;
}
#commodityDetails p
{
    white-space:pre;
}